/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}

select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }

/*-------------------------------------------------------------------------------------*/

#wrapper {
    display:flex;
    flex-direction:column;
    overflow:hidden;

}

/************************HEADER*****************************/


#header {
    width:100%;
    height:80px;
    position:sticky;
    top:0;
    left:0;
    background:grey;
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    align-items:center;

}

#logo {
    width: 17%;
}

#logo div{
    text-align: center;
    background-color: #0aca2b;
    border: 2px solid black;
    width:100%;

}


#info-block {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:60%;
}

#search {
    width: 35%;
    position: relative;
}

#search .input {
    border: none;
}

#search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

#search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

#search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    border:none;
}

#search .submit:hover {
    opacity: 0.8;
}

input[type="search"] {
    -webkit-appearance: none;
}

#account-info a {
    text-decoration:none;
    font-size:24px;
    font-weight:800;
    display:block;
    background-color: #aea894;
    border: 1px solid black;
    border-radius:10px;
    padding:5px;

}

#account-info {
    display:block;
    margin:auto 30px;
}
#login-block {
    display:none;
}


/************************CONTENT*****************************/
#container1 {
    display:flex;
    flex-direction:row;
    width: 100%;
    height:100%;
}

#content {
    width:100%;
    height:800px;
    background-color:yellow;
    border:1px solid black;
}

#sidebar {

    height:800px;
    border:1px solid black;
    background-color: blue;
    width: 25%;
}

#files-list{
    display:flex;
    flex-wrap: wrap;
    overflow-y: auto;
    width:900px;
    min-height:200px;
    margin:20px auto;
    border:2px solid black;
    max-height:500px;
}

#files-list li{
    width:100px;
    height: 130px;
    border:1px solid black;
    padding: 2px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:10px;
    cursor:pointer;
}

#shared-files-list{
    display:flex;
    width:900px;
    min-height:200px;
    max-height:500px;
    margin:20px auto;
    border:2px solid black;
}


/*#files-list li span {*/
    /*margin:2px;*/
/*}*/

.file-name {

}

.file-icon {
    height: 83px;
    width: 75px;
    background-size:contain;
    background-repeat:no-repeat;
}

/************************UPLOAD*****************************/

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'sans-serif';
    color: #1f3c44;
    margin:0 auto;
}

#upload-container img {
    width: 200px;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}
