/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}

select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }

/*-------------------------------------------------------------------------------------*/
#wrapper {
    display:flex;
    flex-direction:column;
    overflow:hidden;
    position:relative;

}
/************************HEADER*****************************/
#header {
    width:100%;
    height:80px;
    position:sticky;
    top:0;
    left:0;
    background:grey;
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    align-items:center;

}

#logo {
    width: 17%;
}

#logo div{
    text-align: center;
    background-color: #0aca2b;
    border: 2px solid black;
    width:100%;

}

#info-block {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:60%;
}

#search {
    width: 35%;
    position: relative;
}

#search .input {
    border: none;
}

#search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

#search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

#search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    border:none;
}

#search .submit:hover {
    opacity: 0.8;
}

input[type="search"] {
    -webkit-appearance: none;
}

#account-info a {
    text-decoration:none;
    font-size:24px;
    font-weight:800;
    display:block;
    background-color: #aea894;
    border: 1px solid black;
    border-radius:10px;
    padding:5px;

}

#account-info {
    display:block;
    margin:auto 30px;
}
#login-block {
    display:none;
}
/************************CONTENT*****************************/
#container1 {
    display:flex;
    flex-direction:row;
    width: 100%;
    height:100%;
}

#content {
    width:100%;
    height:800px;
    background-color:yellow;
    border:1px solid black;
}

#sidebar {

    height:800px;
    border:1px solid black;
    background-color: blue;
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#files-list{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100%;
}

.file-container{
    width: 69px;
    height: 81px;
    border: 1px solid black;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    font-size: 10px;
}

#shared-files-list{
    /*display:flex;*/
    width:900px;
    min-height:200px;
    max-height:500px;
    margin:20px auto;
    border:2px solid black;
    display:none;
}

.item-selected {
    background-color:blue;
}
.file-name {

}

.file-icon {
    height: 83px;
    width: 75px;
    background-size:contain;
    background-repeat:no-repeat;
}

.shared-item{
    background-color:red;
}
/************************UPLOAD*****************************/

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 182px;
    height: 213px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'sans-serif';
    color: #1f3c44;
    margin: 0 auto;
}

#upload-image {
    width: 102px;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

#upload-container div {

}

.upload-text {
    position: relative;
    z-index: 10;
    width: 116px;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}

#create-folder {
    background: transparent;
    outline: none;
    padding: 0;
    border: none;
    cursor:pointer;
}

#create-folder img {
    width: 50px;
}
/******************dropdown*************************/

.dropdown-menu{
    min-width:150px;
    min-height: 20px;
    background: #cfc085e0;
    transition: opacity 1s ease;
    visibility:hidden;
    opacity:0.3;
}

.dropdown-visible {
    opacity: 1;
    visibility: visible;
    z-index:5;
}

.dropDownItem {
    height: 20px;
    display: flex;
    width: 100%;
    text-align: center;
    border: 1px solid darkgrey;
    background-color: lightblue;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor:pointer;
    position:relative;
}

.dropDownItem:hover {
    background-color: #87a0e6;
}

/******************MODAL*************************/
.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: #000000f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 300px;
    height: 110px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 1;
}

.modal-wrapper h2 {
    text-align: center;
    padding-bottom: 9px;
}

.modal-fileName{
    text-align: center;
    margin: 0 auto;
    width: 162px;
}

.modalButtons-wrapper {
    padding-top: 14px;
    display: flex;
    justify-content: center;
}

.modal-cancelButton {
    margin-right: 25px;
}

/*********************File Path**********************/
#filePath {
    width:100%;
    height:30px;
    background-color: yellow;
    font-size:20px;
    font-weight:700;
    text-decoration: underline;
}

#filePath span{
    cursor:pointer;
}

.fileLinkWrapper {
    visibility: hidden;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 100%;
    background: #ffa1f2;
    border: 1px solid grey;
    min-width: 382px;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    pointer-events: visible;


}

.linkwrap-visible {
    opacity:1;
    visibility:visible;
    transition:opacity 1s;
}

.fileLinkBtn {
    background:green;
    width: 42px;
    display: block;
    cursor:pointer;
    pointer-events: auto;
    padding-top: 4px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-link__span {
    padding: 5px;
}

.viewsWrapper {
    display: flex;
    justify-content: space-between;

    background: yellow;
    border: 2px solid black;
    font-size: 20px;

    border-bottom: none;
    position: absolute;
    top: 53.8%;
    left: 19.8%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#showSharedFilesBtn {
    border-top-right-radius: 18px;
    padding: 7px 20px 7px 14px;
    cursor:pointer;
}

#showMyFilesBtn {
    padding: 7px 20px;
    border-top-left-radius: 18px;
    cursor:pointer;
}

.activeViewButton {
    background: #0000ff33;
    text-decoration: underline;
}

.progressIndicator {
    display:none;
}

.indicatorActive {
    display:block;
}

#progressIndicator img{
    width: 300px;
}
